<form method="post" action="{{ path('contactuser_delete', {'id': contactuser.id}) }}"
      onsubmit="return confirm('Confirmer la suppression des données ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ contactuser.id) }}">
    <button class="btn admin-btn">supprimer</button>
</form>
