{% extends 'base.html.twig' %}

{% block title %}New Pressbook{% endblock %}

{% block body %}
    <h1>Create new Pressbook</h1>

    {{ include('pressbook/_form.html.twig') }}

    <a href="{{ path('pressbook_index') }}">back to list</a>
{% endblock %}
