{% extends 'base.html.twig' %}

{% block title %}New Cible{% endblock %}

{% block body %}
    <h1>Create new Cible</h1>

    {{ include('cible/_form.html.twig') }}

    <a href="{{ path('cible_index') }}">back to list</a>
{% endblock %}
