{% extends 'base.html.twig' %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        <h3>You are connected {{ app.user.username }}{% if is_granted("ROLE_ADMIN") %} as admin {% endif %}</h3>
        <h6><a href="{{ path("fos_user_security_logout") }}">logout</a></h6>
    {% else %}
        <h6><a href="{{ path("fos_user_security_login") }}">login</a></h6>
    {% endif %}
{% endblock %}