{% extends 'base.html.twig' %}

{% block title %}Nouvelle Prestation{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Créer une Prestation</h1>
        <a class="admin-link" href="{{ path('prestation_index') }}">
            <button class="btn admin-btn">retour</button>
        </a>
    </div>

    {{ include('prestation/_form.html.twig') }}

{% endblock %}
