<form method="post" action="{{ path('module_delete', {'id': module.id}) }}"
      onsubmit="return confirm('Confirmer la suppression du module ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ module.id) }}">
    <button class="btn admin-btn">supprimer</button>
</form>
