{% extends 'base.html.twig' %}

{% block title %}Nouveau Module{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
    <h1>Créer un Module</h1>
    <a class="admin-link" href="{{ path('module_index') }}">
        <button class="btn admin-btn">retour</button>
    </a>
</div>
    {{ include('module/_form.html.twig') }}

{% endblock %}
