<form method="post" action="{{ path('pdf_delete', {'id': pdf.id}) }}"
      onsubmit="return confirm('Confirmer la suppression du PDF ?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pdf.id) }}">
    <button class="btn admin-btn">supprimer</button>
</form>
