{% extends 'base.html.twig' %}

{% block title %}Editer Pdf{% endblock %}

{% block body %}
<div class="d-flex justify-content-between">
    <h1>Editer Pdf</h1>
    <a class="admin-link" href="{{ path('pdf_index') }}">
        <button class="btn admin-btn" role="button">retour</button>
    </a>
</div>
<div class="text-center m-3">
    {{ include('pdf/_form.html.twig', {'button_label': 'Valider'}) }}
</div>
<div class="container">
    <div class="row text-center">
        <div class="col">
            {{ include('pdf/_delete_form.html.twig') }}
        </div>
    </div>
</div>
{% endblock %}
